.video-container
{
  position: absolute;
  z-index: -100;
  top:0;
  left:0;
  width: 100%;
  height:calc(100vw * 0.5625 ); /*El alto se calcula*/
  overflow: hidden;
}

.video-container video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.header{
  height:calc(100vw * 0.58 );
  text-align: center;
  color:#FFF;
  text-shadow:1px 1px 2px #999;
}